In [1]:
import pandas as pd


from masakali_data.smoobu import get_reservations
from masakali_data.utils import open_csv, save_csv, current_directory
from masakali_data.exchange_rates import convert_columns_to_idr, convert_columns_to_usd

current_directory = current_directory()

In [4]:


def parse_website_data(year):
    df = pd.read_csv('website_and_direct_accurate_price.csv')

    df = df.astype({
         "check_in": "datetime64[ns]",
         "check_out": "datetime64[ns]",
    })
    df = df[df.check_out.dt.year == year]

    print(len(df))


    df = df.rename(columns={
        'id': 'booking_id',
        'price': 'gross_income',
        'commission_included': 'commission',
        'channel_name': 'platform',
    })

    df['net_income'] = df.gross_income - df.commission
    df['taxable_amount'] = df.net_income

    df_idr_small = df[df.currency == 'idr'].copy()
    df_usd_small = df[df.currency == 'usd'].copy()


    df_idr = pd.concat([df_idr_small, convert_columns_to_idr(df_usd_small, ['gross_income', 'commission', 'net_income', 'taxable_amount'])]).reset_index()
    df_usd = pd.concat([df_usd_small, convert_columns_to_usd(df_idr_small, ['gross_income', 'commission', 'net_income', 'taxable_amount'])]).reset_index()

    columns = ['booking_id', 'date', 'guest_name', 'villa_name', 'gross_income'] #'commission', 'net_income', 'taxable_amount']

    df_idr = df_idr[columns]
    df_usd = df_usd[columns]

    

    


parse_website_data(2022)

21
21 21

,id,reference_id,type,check_in,check_out,villa_name,channel_id,channel_name,guest_name,price,commission_included,date,currency
0,20937229,NaN,modification of booking,9/1/2022,2022-09-10,surya,1466464,direct,Alan Mundy,579.68,17.11,3/28/2022 3:36,usd
2,21071548,NaN,reservation,9/3/2022,2022-09-15,chandra,1466464,direct,Evelien Breidel,996.56,39.17,3/31/2022 3:23,usd
3,21072178,NaN,modification of booking,5/3/2022,2022-05-10,chandra,1466464,direct,Sethu Madhavan,246.40,7.44,3/31/2022 5:11,usd
4,21252703,NaN,modification of booking,7/23/2022,2022-07-27,surya,1466464,direct,Denisa Halszova,519.76,20.57,4/4/2022 14:33,usd
5,21253150,NaN,reservation,7/27/2022,2022-07-30,jala,1466464,direct,Denisa Halszova,0.00,0.00,4/4/2022 14:42,usd
6,21536065,NaN,modification of booking,6/11/2022,2022-06-13,surya,1466464,direct,Pradeep Balavinodan,151.39,6.20,4/11/2022 3:54,usd
15,24736286,NaN,reservation,6/26/2022,2022-06-27,jala,1466467,website,Brittany Scarfo,65.42,2.85,6/21/2022 12:24,usd
16,26495750,NaN,modification of booking,12/3/2022,2022-12-05,jala,1466467,website,Amrit Mann,136.71,5.63,8/1/2022 15:21,usd
20,30963097,NaN,reservation,11/18/2022,2022-11-19,jala,1466464,direct,Fatima,0.00,0.00,11/18/2022 5:31,usd